# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.env
.venv
venv/
ENV/
*.conda
*.virtualenv

# Data & results
data/
results/

# macOS system files
.DS_Store
